[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
taskw = {editable = true, path = "."}

[dev-packages]
nose = "<2,>=1.3.4"
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"
sphinx = "*"
tox = "*"

[requires]
python_version = "3.6"
